<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital( input.value )" type="text" class="form-control" placeholder="Buscar hospital">

            </div>
        </div>
    </div>
</div>

<div class="row fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando ...</strong>

            <br>

            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor!</span>
        </div>
    </div>

</div>

<div class="row fadeIn" *ngIf="!cargando">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <div class="card-title">Hospitales registrados ( <small>{{ totalRegistros }}</small>)

                    <button (click)="crearHospital()" type="button" class="btn btn-primary btn-rounded float-right"><i class="fa fa-check"></i>
  Añadir hospital</button>

                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal( hospital._id )" [src]="hospital.img | imagen:'hospital'" class="w70 pointer">
                            </td>
                            <td>
                                <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control" required>
                            </td>
                            <td>
                                <button (click)="guardarHospital( hospital )" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button> &nbsp;

                                <button (click)="borrarHospital( hospital )" class="btn btn-danger">
                                  <i class="fas fa-trash-alt"></i>
                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
          Anteriores
        </button> &nbsp;
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
          Siguientes
        </button>

            </div>
        </div>
    </div>
</div>