<h3> {{ leyenda }} </h3>

<div class="input-group mb-3 ">
    <div class="input-group-prepend ">

        <button (click)="cambiarValor(-5)" class="btn btn-primary " type="button " id="button-addon1 ">
          <i class="mdi mdi-minus "></i>
        </button>

    </div>

    <input #txtProgress type="number " class="form-control " aria-label="Example text with button addon " aria-describedby="button-addon1 " name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="0" max="100">

    <div class="input-group-append ">

        <button (click)="cambiarValor(+5)" class="btn btn-primary " type="button " id="button-addon2 ">
          <i class="mdi mdi-plus "></i>
        </button>

    </div>
</div>